*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
}

aside{
    padding: 4rem;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.navigation__list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navigation__listItem{
    list-style: none;
}

main{
    background-color: red;
}